version: '3.8'

services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}  
      MYSQL_DATABASE: dreamvault
    expose:
      - "3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.dev
    restart: always
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: dreamvault
    depends_on:
      - db
    ports:
      - "3000"

  frontend:
    build:
      context: ./dream-vault-frontend
      dockerfile: Dockerfile.dev
    restart: always
    depends_on:
      - backend
    ports:
      - "5173"

volumes:
  db_data:
