.ul{
    text-align: left;
    background-color: red;
    margin:0;
    list-style-position: inside;
    padding: 3px;
    padding-top: 0;
    padding-bottom: 0;
}

.li{
    margin:0;
    padding:0;
}

.li:hover{
    cursor: pointer;
}