.cardList{
    opacity: 1;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    gap: 10px;
    max-width: 100%;
    margin: 0 auto;
    padding-bottom: 2vh;
}