.card{
    border: 2px;
    border-color: var(--color-border);
    border-style: solid;
    border-radius: 0.5rem;
    padding: 5vh;
    padding-top: 5px;
    position: relative;
    text-overflow: clip;
    overflow-wrap: break-word;
}

.menuButton{
    display: flex;
    justify-content:flex-end;
    margin-left: auto;
    position: absolute;
    right: 5px;
    z-index: 11;
}

.menuButton:hover{
    cursor: pointer;
}

.cardMenu{
    margin-left: auto;
    top:25px;
    right: 5px;
    position: absolute;
    z-index: 10;
}

.cardInfo{
    text-overflow: clip;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
