.column{
  margin: 2vh;
  padding-top: 1vh;
  margin: auto;
  margin-left: 10%;
  margin-right: 10%;
}

.cardList{
  padding-top: 1em;
  margin: auto;
  max-width: 60vw;
}

.inputForm{
  margin: auto;
  text-align: center;
  width: 70vw;
  z-index: 100;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.topper{
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.sideTopper{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--color-secondary);
}

.addCardTopper{
  height: 100%;
  width: 100%;
}

.optionButton{
  border-radius: 10px;
  width: 10vh;
  height: 10vh;
  align-content: center;
  border: 2px solid white;
}

.optionButton:hover{
  cursor: pointer;
}

.addCardTopper:hover{
  cursor: pointer;
}

.calendarComponent{
  padding: 10px;
  border: 2px solid white;
  position: fixed;
  margin-top: 10vw;
  margin-right: 70vw;
  margin-left: 5vw;
}

.searchComponent {
  position: fixed;
  margin-top: 10vw;
  margin-right: 5vw;
  margin-left: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1em 2em;
  border-radius: 1em;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  gap: 0.5em;
}

.searchComponent input[type="search"] {
  padding: 0.6em 1.2em;
  border-radius: 20px;
  border: 2px solid #00ffdd;
  outline: none;
  font-size: 1.1em;
  width: 300px;
  background-color: #111;
  color: white;
}

.searchComponent input[type="search"]::placeholder {
  color: #ffffff;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  width: 100%;
}

.searchComponent button {
  display: flex;
  flex-direction: column;
  padding: 0.5em 1.5em;
  border-radius: 20px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  background-color: var(--color-secondary);
  color: white;
  cursor: pointer;
}

.searchButtons{
  display: flex;
  gap: 10px;
}
