.column{
  margin: 2vh;
  max-width: 60vw;
  padding-top: 1vh;
  margin: auto;
}

.cardList{
  padding-top: 1em;
}

.inputForm{
  margin: auto;
  text-align: center;
  width: 70vw;
  z-index: 100;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.topper{
  display: flex;
  flex-direction: row;
  background-color: rgb(91, 143, 94);
  margin: auto;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.sideTopper{
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--color-secondary);
  
}

.addCardTopper{
  height: 100%;
  background-color: rgb(255, 31, 69);
  width: 100%;
}

.optionButton{
  
  border-radius: 10px;
  width: 10vh;
  height: 10vh;
  align-content: center;
  border: 2px solid white;
}