.login{
    margin: auto;
    padding-top: 3vh;
    width: 40vw;
}

.error{
    padding: 2px;
    border: 2px solid red;
    color: red;
}

.register{
    width: 50%;
    background-color: rgb(0, 0, 68);
    margin: auto;
    padding: 2px;
    padding-bottom: 5px;
    padding-top: 0;
    margin-bottom: 5px;
}