.dreamInput{
    color: white;
    border-radius: 3em;
    border-style: solid;
    border-color: white;
    text-align: center;
    background-color: var(--color-background);

    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;

    height: 70vh;
}

.title{
    border: none;
    outline: none;
    padding-left: 1em;
    border-right: white solid 3px;
    text-align: left;
    
    font-size: xx-large;
    font-weight: bolder;
    width: 80vw;

}

.header{
    display: flex;
    flex-direction: row;
    border-bottom: white solid 3px;

    height: 15vh;
    max-height: 20vh;
    /* width: 100vw; */
    margin-bottom: 10px;
    padding-left: 0;
    background-color: var(--color-background);
}

.calendarSelectArea{
    width: 20vw;
    padding: 0;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.calendarIcon{
    padding: 0;
    margin: 0;
}

.calendarText{
    padding: 0;
    margin: 0;
    font-size: medium;
    font-weight: bold;
}

.description{
    border: none;
    outline: none;
    border-bottom-color: white;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    text-align: left; 
    height: 70vh;
    font-size: large;
    padding-left: 1em;
    padding-top: 1em;
    resize: none;
    background-color: var(--color-background);
}

.buttons{
    display: flex;
    margin: auto;
    gap: 20px;
    padding: 10px;
}

.button{
    padding: 1em;
}

.calendarSelectArea:hover{
    cursor: pointer;
}

.clickBlocker {
    position: fixed;
    inset: 0;
    z-index: 999;
    width: 100vw;
    height:100vh;
}

.calendarWrapper {
    position: fixed;
    height: 80%;
    display: grid;
    place-items: center;
    z-index: 1000;
    margin-left: 18vw;
    margin-right: 18vw;
    margin-top: 8vh;
}

.calendar {
    background: black;
    border: 2px solid white;

    border: white solid 2px;
    padding: 5px;
    background-color: black;
}
