.header{
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;

    margin: 0;

    background-color: var(--color-secondary);
}

.menuIcon{
    color: white;
    font-size: large;
    font-weight: bold;
}