.card{
    border: 2px;
    border-color: white;
    border-style: solid;
    border-radius: 0.5rem;
    padding: 5vh;

    text-align: center;
    font-size: xx-large;
    font: bolder;
    color: var(--color-text-light);
    background-color: var(--color-secondary);
}
