.column{
  margin: 2vh;
  max-width: 60vw;
  padding-top: 1vh;
  margin: auto;
}

.cardList{
  padding-top: 1em;
}

.inputForm{
  margin: auto;
  text-align: center;
  width: 70vw;
  z-index: 100;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}