:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --color-primary: #1d1d43;
  --color-secondary: #3d3772;
  --color-background: #030a14;
  --color-border: #ce751d;
  --color-text: #4765a7;
  --color-text-light: white;

  color-scheme: dark;
  color: var(--color-text);
  background-color: var(--color-background);

}
